doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css', rel='stylesheet')
  body
    block content
